/* Pour toute la page */

h1 {
  font-family: noteworthy;
  color : black;
  padding-top: 0.25em;
}

p {
  text-align: justify;
}

.row {
  margin-top: 0em;
}

/* Page d'accueil : menu de navigation */

.nav {
  float: right;
  font-family: noteworthy;
  font-size: 1.2em;
  margin-top: 2.5em;
  margin-right: 2em;
  margin-left: 50%;
}

.nav li.active a{
  background: rgb(25,25,55);
  font-weight: bold;
}

.nav li a{
  color: rgb(25,25,55);
}

.logo {
  float: left;
  width: 10em;
  height: 10em;
  z-index: 2;
  position:absolute;
  margin-left: 5%;
}


/* Page d'accueil : photo d'accueil */


.row div.col-xs-12 img.img-responsive {
  width: 100%;
  height: 35%;
  margin-top: 1.5em;
  z-index: 1;
  position: relative;
}


/* page d'accueil : les différents pôles */


.presentation-poles div.col-md-3 {
  height : 28em;
}

.presentation-poles div.col-md-3 img.img-responsive{
  padding-top : 2em;
  margin: auto;
  width : 80%;
}


p.poles {
  padding-right: 2em;
  padding-left: 2em;
  padding-top:  1em;
}

.deuxieme-paragraphe p.poles {
  font-weight : bold;
}

/* footer */
footer{
  background-color: rgb(25,25,55);
  height: 7em;
  text-align: center;
  color: white;
}
